<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D68690BB1F469A8D007DD5A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68690D41F469A8D007DD5A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68690DF1F469A8D007DD5A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
